<!DOCTYPE html>
<html>
<head>
	<title>@SharedStrings.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="@SharedStrings.MetaDescription" />
	<meta name="keywords" content="@SharedStrings.MetaKeywords" />
	@Styles.Render("~/content/themes/" + ViewBag.Theme + "/compiled")
	@Styles.Render("~/content/smoothness/")

	@Scripts.Render("/bundles/shared")
	<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/login"></script>
	<script type="text/javascript" src="/scripts/requireconfig.js"></script>
	@Scripts.Render("~/bundles/spinners")

	<!--[if lt IE 9 ]>
	@Scripts.Render("~/bundles/ie")
	<![endif]-->
</head>
<body class="gdLoginPage">
	<header>
		<nav>
			@Html.LanguageDropDown(new { id = "gdSelectLanguage" })
		</nav>
	</header>
	<nav id="gdMainTabs" class="gdHideNoJS">
		<span id="gdProcessingIcon"></span>
		<ul>
			<li id="gdMainTab1" class="gdSelected">@SharedStrings.Login</li>
			<li id="gdMainTab2">@LoginStrings.ForgotPassword</li>
		</ul>
	</nav>
	<noscript><div><p>@SharedStrings.NoJs</p></div></noscript>

	<section class="gdHideNoJS">
		<div id="gdContent">
			<ul class="gdMainTabContent">
				<li id="gdMainTab1Content">
					<form>
						<h1>@LoginStrings.PleaseLogin</h1>
						<div id="gdMessages" class="gdMessage" style="margin-bottom: 12px">
							<a class="gdMessageClose" href="#">X</a>
							<div></div>
						</div>
						<div class="gdFields">
							<div class="gdField">
								<label for="email">@SharedStrings.Email</label>
								<input type="text" id="email" value="" />
							</div>
							<div class="gdError" id="email_error"></div>
							<div class="gdField">
								<label for="password">@SharedStrings.Password</label>
								<input type="password" id="password" value="" />
							</div>
							<div class="gdError" id="password_error"></div>
						</div>
						<div class="gdClear"></div>
						<button class="gdPrimaryButton">@SharedStrings.ContinueRightArrow</button>
					</form>
				</li>
				<li id="gdMainTab2Content" class="hidden">
					<form>
						<h1>@SharedStrings.ForgottenYourPasswordQ</h1>
						<div id="gdMessagesReminder" class="gdMessage" style="margin-bottom: 12px">
							<a class="gdMessageClose" href="#">X</a>
							<div></div>
						</div>
						<p>
							@SharedStrings.EnterEmailAddressToResetPassword
						</p>
						<div class="gdFields">
							<div class="gdField">
								<label for="emailReminder">@SharedStrings.Email</label>
								<input type="text" id="emailReminder" value="" />
							</div>
							<div class="gdError" id="emailReminder_error"></div>
						</div>
						<div class="gdClear"></div>
						<button class="gdPrimaryButton">@SharedStrings.ContinueRightArrow</button>
					</form>
				</li>
			</ul>
		</div>
	</section>

	@{ Html.RenderPartial("footer");}
</body>
</html>