@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>@SharedStrings.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="@SharedStrings.MetaDescription" />
	<meta name="keywords" content="@SharedStrings.MetaKeywords" />

	@Styles.Render("~/content/themes/" + ViewBag.Theme + "/compiled")
	@Styles.Render("~/content/smoothness/")

	@Scripts.Render("~/bundles/shared")
	<script type="text/javascript" src="/scripts/libs/require.js" data-main="/scripts/install"></script>
	<script src="/scripts/requireConfig.js"></script>
	@Scripts.Render("~/bundles/spinners")

	<!--[if lt IE 9]>
	@Scripts.Render("~/bundles/ie")
	<![endif]-->
</head>
<body class="gdInstallPage" data-lang="@*{$currLang}*@">
	<header>
		<nav>
			@Html.LanguageDropDown(new { id = "gdSelectLanguage" })
		</nav>
	</header>
	<nav id="gdMainTabs" class="gdHideNoJS">
		<span id="gdProcessingIcon"></span>
		<ul>
			<li id="gdMainTab1" class="gdSelected">@InstallStrings.Install</li>
			<li id="gdMainTab2" class="gdHideNoJS">@SharedStrings.Help</li>
		</ul>
	</nav>
	<noscript><p>@SharedStrings.NoJs</p></noscript>
	<section class="gdHideNoJS">
		<div id="gdContent">
			<ul class="gdMainTabContent">
				<li id="gdMainTab1Content">@{ Html.RenderPartial("tab1"); }</li>
				<li id="gdMainTab2Content" style="display:none">@{ Html.RenderPartial("tab2"); }</li>
			</ul>
		</div>
	</section>
	@{ Html.RenderPartial("footer");}
</body>
</html>