<h1>@SharedStrings.Help</h1>
<p>
	@InstallStrings.HelpIntro
</p>

<h2>@InstallStrings.HelpPrerequisites</h2>
<p>
	@InstallStrings.HelpPrereqInfo
</p>

<h2>@InstallStrings.StillStuck</h2>
<p>
	@InstallStrings.InstallUserDocLink
</p>
