<h1>@ViewRes.InstallStrings.Help</h1>
<p>
	@ViewRes.InstallStrings.HelpIntro
</p>

<h2>@ViewRes.InstallStrings.HelpPrerequisites</h2>
<p>
	@ViewRes.InstallStrings.HelpPrereqInfo
</p>

<h2>@ViewRes.InstallStrings.StillStuck</h2>
<p>
	@ViewRes.InstallStrings.InstallUserDocLink
</p>
