@model GenerateData.ViewModels.Home

@*<body data-lang="@Model.CurrentLanguage" data-logged-in="@Model.IsLoggedIn" data-user-account-setup="@Model.UserAccountSetup.ToString()">*@
	<nav id="gdMainTabs" class="gdHideNoJS">
		<span id="gdDataSetStatusLine"></span>
		<span id="gdProcessingIcon"></span>
		<ul>
			<li id="gdMainTab1" class="gdSelected">@HomeStrings.Generate</li>
			<li id="gdMainTab2" @if (Model.UserAccountSetup != AccountSetup.Multiple || Model.AccountType != AccountType.Admin) { <text> style="display:none" </text>  }> @HomeStrings.Accounts</li>
			<li id="gdMainTab3" @if (Model.UserAccountSetup != AccountSetup.AnonymousAdmin || Model.AccountType != AccountType.Admin) { <text> style="display:none" </text>  }> @HomeStrings.Settings</li>
			<li id="gdMainTab4">@HomeStrings.About</li>
		</ul>
	</nav>
	<noscript><p>@SharedStrings.NoJs</p></noscript>
	<section class="gdHideNoJS">
		<div id="gdContent">
			<ul class="gdMainTabContent">
				<li id="gdMainTab1Content">@{Html.RenderPartial("tab1", Model);}</li>
				<li id="gdMainTab2Content" style="display:none">@{Html.RenderPartial("tab2", Model);}</li>
				<li id="gdMainTab3Content" style="display:none">@{Html.RenderPartial("tab3", Model);}</li>
				<li id="gdMainTab4Content" style="display:none">@{Html.RenderPartial("tab4", Model);}</li>
			</ul>
		</div>
	</section>

	<div id="gdPageLoad">@HomeStrings.Loading</div>

@section header {
	<nav class="gdHideNoJS">
		<ul>

			<li id="gdUserAccount" @if (!Model.IsLoggedIn || Model.UserAccountSetup == AccountSetup.AnonymousAdmin) { <text> style="display:none" </text>   }>
				<a href="#">@HomeStrings.YourAccount</a> |
			</li>
			<li id="gdLogin" @if (Model.IsLoggedIn || Model.UserAccountSetup == AccountSetup.AnonymousAdmin) { <text> style="display:none" </text>   }>
				<a href="#">@SharedStrings.Login</a> |
			</li>
			<li id="gdLogout" @if (!Model.IsLoggedIn || Model.UserAccountSetup == AccountSetup.AnonymousAdmin) { <text> style="display:none" </text>   }>
				<a href="#">@SharedStrings.Logout</a> |
			</li>
		</ul>
		@Html.LanguageDropDown(new { id = "gdSelectLanguage", languages = Model.Languages })
	</nav>
}

@section css {

	@Styles.Render("~/content/index")
	@Styles.Render("~/scripts/codemirror/lib")
	@Styles.Render("~/content/themes/" + Model.Theme + "/compiled")

}

@section topscripts {

	<script type="text/javascript" src="/scripts/libs/require.js"></script>
	<script type="text/javascript" src="/scripts/requireconfig.js"></script>

}

@section bottomscripts {

	@*{if $useMinifiedResources && $minifiedResourcePaths != false}
		<script src="resources/scripts/libs/require.js"></script>
		<script src="resources/scripts/requireConfig.js"></script>
		<script>require(["{$minifiedResourcePaths.appStart}"], function() {});</script>
		{else}*@
	<script>
		require([
			"manager",
			"generator",
			"accountManager",
			//{$exportTypeJSModules},
			//{$dataTypeJSModules},
			"pageInit"
		], function (manager)
		{
			manager.start();
		});
	</script>
	@*{/if}*@

}
