<!DOCTYPE html>
<html>
<head>
	<title>@ViewRes.SharedStrings.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="@ViewRes.SharedStrings.MetaDescription" />
	<meta name="keywords" content="@ViewRes.SharedStrings.MetaKeywords" />

	@Styles.Render("~/content/smoothness")
	@Styles.Render("~/content/index")
	@Styles.Render("~/scripts/codemirror/lib")
	@Styles.Render("~/content/themes/" + ViewBag.Theme + "/compiled")

	@Scripts.Render("~/bundles/shared")
	<script type="text/javascript" src="/scripts/lib/require.js"></script>
	<script type="text/javascript" src="/scripts/requireconfig.js"></script>
	@Scripts.Render("~/bundles/spinners")

	<!--[if lt IE 9]>
		@Scripts.Render("~/bundles/ie")
	<![endif]-->
</head>
<body data-lang="@*{$currLang}*@" data-logged-in="@*{$isLoggedIn}*@" data-user-account-setup="@*{$settings.userAccountSetup}*@">
	<header>
		<nav class="gdHideNoJS">
			<ul>
				<li id="gdUserAccount" @*{if !$isloggedin || $settings.useraccountsetup= ="anonymousAdmin" }*@ style="display:none" @*{ />if}*@>
				<a href="#">@ViewRes.HomeStrings.YourAccount</a> |
				</li>
				<li id="gdLogin" @*{if $isloggedin || $settings.useraccountsetup= ="anonymousAdmin" }*@ style="display:none" @*{ />if}*@>
				<a href="#">@ViewRes.SharedStrings.Login</a> |
				</li>
				<li id="gdLogout" @*{if !$isloggedin || $settings.useraccountsetup= ="anonymousAdmin" }*@ style="display:none" @*{ />if}*@>
				<a href="#">@ViewRes.SharedStrings.Logout</a> |
				</li>
			</ul>
			@*{language_dropdown nameId="gdSelectLanguage"}*@
		</nav>
	</header>
	<nav id="gdMainTabs" class="gdHideNoJS">
		<span id="gdDataSetStatusLine"></span>
		<span id="gdProcessingIcon"></span>
		<ul>
			<li id="gdMainTab1" class="gdSelected">@ViewRes.HomeStrings.Generate</li>
			<li id="gdMainTab2" @*{if $settings.useraccountsetup !="multiple" || $accounttype !="admin" }*@ style="display:none" @*{ />if}>*@ @ViewRes.HomeStrings.Accounts</li>
			<li id="gdMainTab3" @*{if $settings.useraccountsetup !="anonymousAdmin" && $accounttype !="admin" }*@ style="display:none" @*{ />if}>*@ @ViewRes.HomeStrings.Settings</li>
			<li id="gdMainTab4">@ViewRes.HomeStrings.About</li>
		</ul>
	</nav>
	<noscript><p>@ViewRes.SharedStrings.NoJs</p></noscript>
	<section class="gdHideNoJS">
		<div id="gdContent">
			<ul class="gdMainTabContent">
				<li id="gdMainTab1Content">@*{include file="generate.tab1.tpl"}*@</li>
				<li id="gdMainTab2Content" style="display:none">@*{include file="generate.tab2.tpl"}*@</li>
				<li id="gdMainTab3Content" style="display:none">@*{include file="generate.tab3.tpl"}*@</li>
				<li id="gdMainTab4Content" style="display:none">@*{include file="generate.tab4.tpl"}*@</li>
			</ul>
		</div>
	</section>

	<div id="gdPageLoad">@ViewRes.HomeStrings.Loading</div>

	@{ Html.RenderPartial("footer");}

	@*{if $useMinifiedResources && $minifiedResourcePaths != false}
	<script src="resources/scripts/libs/require.js"></script>
	<script src="resources/scripts/requireConfig.js"></script>
	<script>require(["{$minifiedResourcePaths.appStart}"], function() {});</script>
	{else}*@
	<script>
		require([
			"manager",
			"generator",
			"accountManager",
			//{$exportTypeJSModules},
			//{$dataTypeJSModules},
			"pageInit"
		], function(manager) {
			manager.start();
		});
	</script>
	@*{/if}*@


</body>
</html>
