<a href="https://github.com/benkeen/generatedata" target="_blank"><img src="resources/themes/@ViewBag.Theme/images/githubRibbon.png" id="githubRibbon" border="0" /></a>

<h3>@Html.Raw(HomeStrings.AboutTitle)</h3>
<p>
	@Html.Raw(HomeStrings.AboutPara1)
</p>
<p>
	@Html.Raw(HomeStrings.AboutPara2)
</p>

<h3>@Html.Raw(HomeStrings.ExtendIt)</h3>
<p>
	@Html.Raw(HomeStrings.AboutPara3)
</p>
<p>
	@Html.Raw(HomeStrings.AboutPara4)
</p>
<p>
	@Html.Raw(HomeStrings.AboutPara5)
</p>

<h3>@Html.Raw(HomeStrings.AFewLinks)</h3>
<ul>
	<li><a href="https://github.com/benkeen/generatedata">@HomeStrings.ForkOnGithub</a></li>
	<li><a href="docs/">@HomeStrings.ReadDeveloperDoc</a></li>
	<li><a href="http://www.generatedata.com" target="_blank">@HomeStrings.GotoWebsite</a></li>
	<li><a href="http://www.benjaminkeen.com/category/projects/data-generator/" target="_blank">@HomeStrings.LatestProjectNews</a></li>
</ul>
